{% extends "base.html" %}
{% load dojo %}

{% block extra_headers %}
    <link href="{{MEDIA_URL}}face/css/face.css" rel="stylesheet" type="text/css" />
    {% dojo_include %}
    <script type="text/javascript" src="{{MEDIA_URL}}face/js/face.js"></script>
{% endblock extra_headers %}

{% block content %}
<div id="face">
    <div id="profile">
        <img src="http://graph.facebook.com/{{profile.id}}/picture" />
        <p>{{profile.name}}</p>
    </div>
    <div id="deleted">
    <h4>Friends that removed you from theirs friends list</h4>
    <ul>
    {% for friend in deleted_friend %}
    <li>
        <div class='exfriend'>
            <img src="http://graph.facebook.com/{{friend.id}}/picture" />
            <p>{{friend.name}}</p>
            <button dojoType="dijit.form.Button" type="button">Remove
            <script type="dojo/method" event="onClick" args="evt">
            Face.removeExfriend({{friend.id}}, this.domNode);
            </script>
            </button>
        </div>
    </li>
    {% endfor %}
    </ul>
    </div>
</div>
{% endblock content %}
