#face {
    position: relative;
}
#profile {
}
#profile img {
    padding: 3px;
    border: 1px solid #999;
    margin: 10px;
    position: absolute;
    left: 0;
}
#profile p {
    left:80px;
    position:absolute;
    top: -2px;
    font-size: 12px;
}
#deleted {
    position:absolute;
    top: 80px;
    border: 1px solid #558;
    background-color: #ddf;
    padding: 5px;
    left: 10px;
    width: 90%;
}
#deleted h4 {
    padding:0;
    margin:0;
    font-size: 14px;
}
#deleted ul {
    list-style:none;
    padding-left: 0px;
}
#deleted li {
    float:left;
}
#deleted li img {
    float:left;
    padding-right: 8px;
    width: 30px;
}
#deleted li p {
    font-size: 11px;
    margin-top: 0;
    width: 140px;
}
