<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/media/blog/css/base.css" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="container">
        <div id="header">header</div>
        <div id="content">
            <div id="content-main">{% block content %}{% endblock %}</div>
            <div id="content-related">related</div>
            <br class="clear" />
        </div>
        <div id="footer">footer</div>
    </div>
</body>
</html>
